<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Welcome to the most extraordinary hotel in Boston Massachusetts">
    <meta name="keywords" content="hotel,boston hotel,new england hotel">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" media="screen and (max-width:700px)" href="/css/mobile.css">
    <title>Retail Store | Welcome</title>
</head>

<body>
    <header>
        <nav id="navbar">
            <div class="container">
                <a class="logo" href="index.html">LOGO</a>
                <img class="img" src="/images/profile_img.jpg" alt="my image">
            </div>
        </nav>

    </header>
    <div class="dashboard-icon">
        <ul>
            <li><img class="img" src="/images/pngwing.com.png" alt="my image"> </li>
            <li><a>Dashboard</a></li>
        </ul>

    </div>
    <div class="flex-container">
        <div class="item item-1">
            <i class="fas fa-store fa-3x"></i>
            <h1>&#8377 Click Here</h1>
            <p>Today's Sales</p>
            <br>


        </div>
        <div class="item item-2">
            <i class="fas fa-flag fa-3x"></i>
            <h1>Click Here </h1>
            <p>Unique Customers</p>
            <br>

        </div>
        <div class="item item-3">
            <i class="fas fa-coins fa-3x"></i>
            <h1>&#8377 Click Here</h1>
            <p>Average amount spent</p>
            <br>

        </div>
    </div>
    <div class="table_container">
        <table>
            <tr>
                <th colspan="4">List of products that are sold that day</th>
            </tr>
            <tr>
                <td rowspan="1" colspan="4"></td>
            </tr>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Sales Amt($)</th>
                <th>Profit Percentage(%)</th>
            </tr>
            <tr>
                <td>123</td>
                <td>Shirt</td>
                <td>1000</td>
                <td>40</td>
            </tr>
            <tr>
                <td>321</td>
                <td>T-Shirt</td>
                <td>700</td>
                <td>20</td>
            </tr>
            <tr>
                <td>181</td>
                <td>Pant</td>
                <td>1600</td>
                <td>30</td>
            </tr>
            <tr>
                <td>333</td>
                <td>Hoodie</td>
                <td>1200</td>
                <td>15</td>
            </tr>
            <tr>
                <td>123</td>
                <td>Jacket</td>
                <td>2000</td>
                <td>35</td>
            </tr>
        </table>
    </div>
    <script src="/static/index.js"></script>
    <script src="/static/app.js"></script>
</body>